@import url("/pokerCards/styles/reset.css") layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Tsukimi+Rounded:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@layer reset;

:root{
    --primary-font: 'Neucha', arial, helvetica, sans-serif;
    --secondary-font: 'Tsukimi Rounded', arial, helvetica, sans-serif;
    --font-w-semibold: 600;
    --bg-light: #f5f5f5;
    --text-color-light: #f5f5f5;
    --bg-dark: #252020;
    --text-color-dark: #252020;
    --team-main-color: #511a33;
    --team-secondary-color: #be9c51;
    --wininnig-color: #22b422;
    --tie-color: #eccf29;
    --losing-color: #ec2929;
    --streak-foot-text:' ';
}

body{
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-font);
    font-weight: var(--font-w-semibold);

}

p{
    font-family: var(--secondary-font);
    font-weight: var(--font-w-semibold);
    font-size: 1rem;
}

.d-none{
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.team-card{
    background-color: var(--bg-light);
    border-radius: 10px;
}

.container{
    height: 90%;
    display: grid;
}

.team-streak{
    grid-row: 4 / 5;
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4% 3% 3%;
    box-sizing: border-box;

    & div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: 70%;
        
        & p{
            height: 85%;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-family: var(--primary-font);
            font-weight: 400;
            background-color: #e1e0e7;
            border-radius: 10px;
            transition: background-color 0.3s ease-in-out;
            user-select: none;
        }
    }

    & div p:nth-child(1):hover{
        background-color: var(--wininnig-color);
    }

    & div p:nth-child(2):hover{
        background-color: var(--tie-color);
    }

    & div p:nth-child(3):hover{
        background-color: var(--losing-color);
    }

    &::before{
        content: 'Histórico';
        font-family: var(--primary-font);
        font-weight: var(--font-w-semibold);
        font-size: 1.5rem;
        width: 100%;
        height: 20%;
        text-align: center;
    }

    &::after{
        font-family: var(--secondary-font);
        font-weight: var(--font-w-semibold);
        font-size: 1.1rem;
        content: var(--streak-foot-text);
        text-align: center;
        width: 100%;
        height: 10%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &.hovered::after{
        opacity: 1;
    }
}

.team-presentation{
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 1.2fr 1fr;

    & .card-header{
        display: grid;
        box-sizing: border-box;
        align-items: center;
        padding: 0 3% 3%;
        grid-template-columns: 0.5fr 0.6fr 2fr;
        border-radius: inherit;
        clip-path: ellipse(90% 100% at 50% 0%);
        background-color: var(--team-main-color);

        & img{
            width: 80%;
            grid-column: 1/3;
            justify-self: center;
            object-fit: contain;
            filter: drop-shadow(0 0 4px black);
        }
    
        & span{
            text-align: center;
            color: var(--bg-light);
        }
    
        &>span p:first-child{
            font-family: var(--primary-font);
            font-weight: 500;
            font-size: 3rem;
        }
    
        &>span p:last-child{
            font-size: 1.2rem;
        }
    }
    
    & .card-content{
        display: grid;
        grid-template-columns: repeat(2,1fr) 2fr;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        box-sizing: border-box;
        padding: 4%;

        & span{
            width: 100%;
            height: 100%;
            text-align: center;
        }

        & span:nth-child(1){
            grid-column: 1/3;
            display: flex;
            align-items: center;

            & p {
                font-size: 2rem;
                text-align: center;
            }
        }
    
        & span:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.3rem;
        
            & p{
                background-color: var(--team-main-color);
                color: var(--bg-light);
                border-radius: 50px;
                width:50%;
                height: 90%;
                font-family: var(--primary-font);
                font-size: 3rem;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & span:nth-child(3){
            grid-column: 1/3;
            width: 100%;
        }
    }
}

.team-idol{
    grid-column: span 2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    & section:first-child{
        & p{
            display: none;
        }

        & img{
            max-width: 50%;
            height: auto;
            object-fit:cover;
            transform: translateY(45%) scale(3);
            user-select: none;
        }
    }

    & section:last-child{
        display: grid;
        text-align: center;
        min-width: 50%;
        height: 100%;
        padding-top: 1%;
        box-sizing: border-box;
        font-size: 3rem;
        grid-template-rows: 1fr 1fr 2fr; 

    }

    .shape{
        height: 100%;
        width: 100%;
        position: relative;
        color: white;
        clip-path: ellipse(30% 100% at 50% 100%);
        background-color: var(--team-main-color);
    }

    & .shape>p 
        {
            position: relative;
            top: 25%;
            font-size: 2rem;
            font-family: var(--primary-font);
            font-weight: 400;
        }

}

.team-formation{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    background-color: #118b31;
    box-shadow: 4px 2px 10px rgb(95 95 95);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);

    & ul{
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    & li{
        width: 10%;
        height: 40%;
        background-color: var(--team-main-color);
        border-radius: 100%;
        outline: 1px solid #fff;
    }

    & ul:last-child li{
        background-color: var(--team-secondary-color);
    }

}

.team-players{
    grid-row: span 3;
    grid-column: span 2;
    display: flex;

    & div:first-child a{
        opacity: 0;
        background-color: var(--team-main-color);
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 20%;
        position: relative;
        color: white;
        text-decoration: none;
        font-family: var(--primary-font);
        font-size: 1.5rem;
        transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    }

    & div:first-child a:hover{
        background-color: white;
        color: var(--team-main-color);
        outline: 1px solid var(--team-main-color);
    }

    &>div:first-child{
        background-image: url("../assets/img/teams/venezuela-team.webp");
        width: 65%;
        height: auto;
        background-size: cover;
        background-position: center;
        border-radius: 0;
        border-start-start-radius: inherit;
        border-end-start-radius: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    &>div:last-child{
        background-color: var(--bg-light);
        width: 35%;
        border-radius: inherit;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        & h1{
            font-weight: 400;
            font-size: 2rem;
        }
    }
    
}

.team-matches {
    grid-column: span 3;
    padding-inline: 2%;

    & ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 4%;
        width: 100%;
        height: 100%;
        list-style: none;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 0.5rem;
            width: auto;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--team-main-color) !important;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(172 171 171 / 69.9%);
            border-radius: 100px;
        }
    }

    & li {
        width: 30%;
        height: 70%;
        border-radius: 10px;
        background-color: var(--team-main-color);
        flex-shrink: 0;

        & div {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: auto;
            color: var(--bg-light);

            & span:first-child {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }

            & span:last-child p {
                font-size: 0.8rem;
                transition: all 0.3s ease-in-out;

                &::after {
                    content: '->';
                    display: inline-block;
                    transition: transform 0.2s ease-in-out; /* Añadir la transición aquí también */
                }

                &:hover {
                    color: #f5f5f5ad;
                    cursor: pointer;

                    &::after {
                        transform: translateX(5px)
                    }
                }
            }
        }
    }
}

@supports not selector(::-webkit-scrollbar){
    .team-matches ul{
        scrollbar-width: auto;
        scrollbar-color: var(--team-secondary-color) var(--bg-light);
    }
}

.home-flag, .away-flag{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100px;
    outline: 1px solid #fff;
}

@media (width >= 935px) and (width <= 2000px){
    .container{
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr;
        grid-auto-flow: row;
        max-width: 900px;
        max-height: unset;
        height: 500px;
        padding: 5%;
        gap: 10px;       
    }

    .team-players{
        &>div:first-child::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background:rgb(0 0 0 / 50%);
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
        
        &>div:first-child:hover::before, &>div:first-child:hover a{
            opacity: 1;
        }
    }

    .team-formation{
        max-width: 135px;
    }
}


@media (width <= 934px) {
    .container {
        grid-template-columns: 1fr 1fr 0.9fr;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        max-width: 400px;
        gap:10px;
        padding: 0 2.5%;
    }
    
    .team-presentation .card-header,
    .team-presentation .card-content,
    .team-idol,
    .team-formation,
    .team-players,
    .team-matches {
        max-width: 100%;
        overflow: hidden;
    }

    .team-card {
        grid-column: 1 / -1;
    }

    .team-presentation{
        grid-column: 1 / 3;

        & .card-header{
            & img{
                min-width: 3rem;
            }
        }

        & .card-content{
            & span:nth-child(1){
                & p{
                    font-size: 1.8rem;
                }
            }

            & span:nth-child(2){
                & p{
                    height: 100%;
                    width: 45%;
                    font-size: 2.5rem;
                }
            }
        }
    }

    .team-streak{
        grid-column: 3 / 4;
        grid-row: 1 / 4;

        & div{
            flex-direction:column;
            align-items: start;
            box-sizing: border-box;

            & p{
                background: none;
                width: 100%;
                justify-content: space-evenly;
            }

            & p:nth-child(1)::after, & p:nth-child(2)::after, & p:nth-child(3)::after{
                font-family: var(--secondary-font);
                font-size: 1.5rem;
                font-weight: var(--font-w-semibold);
                border-radius: 5px;
                height: 70%;
                width: 30%;
                align-content: center;
                text-align: center;
            }

            & p:nth-child(1)::after{
                background-color: var(--wininnig-color);
                content: 'V';
            }

            & p:nth-child(2)::after{
                background-color: var(--tie-color);
                content: 'E';
            }

            & p:nth-child(3)::after{
                background-color: var(--losing-color);
                content: 'D';
            }

            & p:nth-child(1):hover, & p:nth-child(2):hover, & p:nth-child(3):hover{
                background: none;
            } 
        }

        &::after{
            content: '';
        }
    }

    .team-idol{
        height: 45vh;
        max-height: 250px;
        flex-direction: column;

        & section:nth-child(1){
            width: 100%;
            height: 65%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            clip-path: ellipse(60% 70% at 50% 30%);
            background-color: var(--team-main-color);

            & img{
                max-width: 100%;
                max-height: 50%;
                scale: 1;
                translate: 0 50%;
            }

            & p{
                position: relative;
                top:30px;
                display: flex;
                font-size: 2.5rem;
                border-radius: 10px;
                width: 55%;
                height: 40%;
                align-items: center;
                justify-content: center;
                color: var(--bg-light);
            }

        }

        & section:nth-child(2){
            width: 100%;
            height: 40%;
            box-sizing: border-box;
            padding-top: 2%;

            & p{
                font-size: 1rem;
            }

            .shape{
                display: none;
            }
        }
    }

    .team-players{
        height: 80vh;
        max-height: 450px;
        min-width: 100%;
        display: flex;
        flex-direction: column;

        & div:first-child{
            width: 100%;
            height: 50%;
            border-radius: 0;
            background-size: cover;
        }

        & div:first-child a{
            display: none;
        }

        & div:last-child{
            width: 100%;
            height: 50%;
            border-radius: 0;
            flex-direction: row;
            padding: 0 2%;
            box-sizing: border-box;

            & span{
                display: flex;
                flex-direction: column;
                width: auto;
                height: 100%;
                justify-content: space-evenly;
                align-items: center;
            }

            & .team-formation{
                width: 30%;
                min-width: 120px;
            }

            & h1{
                font-size: 3rem;
            }

            &>h2{
                display: none;
            }

            & span>h2{
                display: flex;
                font-size: 1.3rem;
            }

            & span a{
                width: 85%;
                background-color: var(--team-main-color);
                border: none;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15%;
                position: relative;
                color: white;
                text-decoration: none;
                font-family: var(--primary-font);
                font-size: 1.5rem;
                transition: opacity 0.5s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
            }

            & span a:hover{
                background-color: white;
                color: var(--team-main-color);
                outline: 1px solid var(--team-main-color);
            }
        }
    }

    .team-matches{
        min-height: 100px;

        & ul{
            flex-flow: row wrap;
            padding-top: 3%;
            box-sizing: border-box;

            &::-webkit-scrollbar:vertical {
                width: 0.5rem;
                height: auto;
            }
        }

        & li{
            width: 70%;
            height: 30%;
        }
    }
}